* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    align-items :start;
    justify-items: start;

}


.heroWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headerP {
    width: 100vw;
}

